.mainContainer {
	/* border: 2px solid red; */
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 50vh;
	flex: 1;
	overflow: hidden;
}
.heroContainer {
	border-top: 2px solid rgba(255,255,255,0.2);
	flex: 1;
	overflow: hidden;
	display: flex;
}
.coverArtWrapper {
	height: 100%;
	width: 35%;
	overflow: hidden;
}
.coverArtImg {
	object-fit: cover;
	width: 100%;
	height: 100%;
	transform: scale(0.8);
  	transform-origin: center;
	overflow: visible;
}
.detailsWrapper {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	justify-content: space-around;
	height: 100%;
	width: 65%;
	padding: 0.5rem;
	padding-left: 2rem;
}
.gameDescWrapper {
	border: 10px double rgba(255, 255, 255, 0.2);
  	box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	padding: 0 0.5rem 0.5rem 0.75rem;
	height: 35%;
	line-height: 1.5;
	overflow: auto;
	scroll-behavior: smooth;
}
.detailsWrapper dd {
	width: fit-content;
	/* background-color: black; */
}
.gameGenresWrapper {
	gap: 1rem;
	display: flex;
	justify-content: space-between;
	padding-right: 1rem;
}
.gameTagsWrapper {
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
	overflow-x: auto;
}

.gameTagsWrapper dt {
    flex: 0 0 5%;
    /* font-weight: bold; */
}

.gameTagsWrapper dd {
    flex: 1 1 auto;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 0.5rem;
    border-radius: 10px;
	height: fit-content;
	margin-bottom: 0.25rem;
}