.cardGridContainer {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-auto-rows: 50%;
	background-color: red;
	padding: 1rem;
	/* grid-template-columns: repeat(4, 250px); */
	flex: 1;
	overflow-y: auto;
}
.cardGridContainer div {
	border: 2px solid green;
	background-color: blue;
	padding: 0.5rem;
	margin: 1rem;
}