.mainContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 50vh;
	flex: 1;
	overflow: hidden;
}
.heroContainer {
	border-top: 2px solid rgba(255, 255, 255, 0.2);
	flex: 1;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
}
.coverArtWrapper {
	border-right: 5px solid rgba(255, 255, 255, 0.25);
	height: 100%;
	width: 35%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.25);
}
.coverArtImg {
	object-fit: cover;
	width: 100%;
	height: 100%;
	transform: scale(0.8);
  	transform-origin: center;
	overflow: visible;
}
.detailsWrapper {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	justify-content: space-around;
	height: 100%;
	width: 65%;
	padding: 0.5rem;
	padding-left: 2rem;
}
.gameDescWrapper {
	border: 10px double rgba(255, 255, 255, 0.2);
  	box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	padding: 0 0.75rem 0.25rem 0.75rem;
	height: 35%;
	line-height: 1.5;
	overflow: auto;
	scroll-behavior: smooth;
	font-size: 1.15rem;
}
.detailsWrapper dd {
	width: fit-content;
}
.gameGenresWrapper {
	gap: 1rem;
	display: flex;
}
.gameGenresWrapper dt {
    flex: 0 0 5%;
}
.gameGenresWrapper dd {
    flex: 1 1 auto;
    text-align: center;
}
.gameTagsWrapper {
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-color: white;
}
/* WebKit browsers (Chrome, Edge, Safari) */
.gameTagsWrapper::-webkit-scrollbar {
    height: 4px;
}
.gameTagsWrapper::-webkit-scrollbar-track {
    background: transparent;
}
.gameTagsWrapper::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}
.gameTagsWrapper::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
}
.gameTagsWrapper dt {
    flex: 0 0 5%;
}
.gameTagsWrapper dd {
    flex: 1 1 auto;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 0.5rem;
    border-radius: 10px;
	height: fit-content;
	margin-bottom: 0.25rem;
}
.developerWrapper {
	border-bottom: none;
}
.developerText {
	text-align: center;
	margin-bottom: 0.5rem;
	width: 100%;
	font-size: clamp(0.6rem, 1.8vw, 1.8rem);
}
/* Disable events on charts */
.apexcharts-canvas {
	pointer-events: none;
}
.added-bar-graph {
	width: 30%;
	border-right: 10px double rgba(255, 255, 255, 0.2);
}
.pie-chart {
	width: 30%;
	height: 100%;
	border-right: 10px double rgba(255, 255, 255, 0.2);
	display: flex;
	overflow: hidden;
}
.pie-chart .apexcharts-canvas {
	margin-top: 1rem;
}
.ratings-bar-graph {
	width: 30%;
}