.mainContainer {
	/* border: 2px solid red; */
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 50vh;
	flex: 1;
	overflow: hidden;
}
.heroContainer {
	border-top: 2px solid rgba(255,255,255,0.2);
	flex: 1;
	overflow: hidden;
	display: flex;
}
.coverArtWrapper {
	height: 100%;
	width: 30%;
}
.coverArtImg {
	object-fit: cover;
	width: 100%;
	height: 100%;
	/* border-radius: 20px; */
}
.detailsWrapper {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	justify-content: space-around;
	height: 100%;
	width: 70%;
	padding: 0.5rem;
	padding-left: 2rem;
}
.gameGenresWrapper {
	gap: 1rem;
	display: flex;
	justify-content: space-between;
	padding-right: 1rem;
}
.gameTagsWrapper {
	gap: 1rem;
	display: flex;
	justify-content: space-between;
	padding-right: 1rem;
}