.cardGridContainer {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-auto-rows: 60%;
	padding: 1rem;
	flex: 1;
	overflow-y: auto;
	scroll-behavior: smooth;
}
.cardGridContainer div {
	border-radius: 20px;
	padding: 0.5rem;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	background-color: rgba(0,0,0,0.5);
	backdrop-filter: blur(5px) brightness(0.8);
	box-shadow: 0 4px 15px rgba(0,0,0,0.7);
	border: 2px dashed rgba(0,255,255,0.5); 
	transition: transform 0.5s ease, box-shadow 0.5s ease;
	overflow: hidden;
}
.cardGridContainer div:hover {
	transition-duration: 600ms;
	transform: translateY(-12px);
	box-shadow: 0 8px 25px rgba(0,0,0,0.4);
	border: 2px solid rgba(0,255,255,1);
}
.cardGridContainer div img {
	width: 100%;
	flex: 0 0 85%;
	object-fit: cover;
	border-radius: 10px;
	transform: scale(0.75);
  	transform-origin: center;
	overflow: visible;
}
.cardGridContainer div h3 {
	flex: 0 0 auto;
	margin: 0.5rem auto 0 auto;
	text-decoration: underline;
	font-size: clamp(0.8rem, 1.2vw, 1.2rem);
}