.cardGridContainer {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-auto-rows: 60%;
	padding: 1rem;
	flex: 1;
	overflow-y: auto;
}
.cardGridContainer div {
	border-radius: 20px;
	padding: 0.5rem;
	margin: 1rem;
	
	background-color: rgba(0,0,0,0.5); /* semi-transparent */
	backdrop-filter: blur(5px) brightness(0.8);
	/* border: 1px solid rgba(255,255,255,0.1); */
	box-shadow: 0 4px 15px rgba(0,0,0,0.7);
	/* border: 2px solid transparent;
	border-image: linear-gradient(45deg, #00ffff, #ff6ec7, #00ff00) 1; */
	border: 2px dashed rgba(0,255,255,0.5); 
	transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.cardGridContainer div:hover {
	transition-duration: 500ms;
	transform: translateY(-10px);
	box-shadow: 0 8px 25px rgba(0,0,0,0.4);
	border: 2px solid rgba(0,255,255,1);
}
.cardGridContainer div img {
	width: 100%;
	height: 90%;
	object-fit: cover;
	border-radius: 10px;
}
.cardGridContainer div h3 {
	margin: 0.5rem auto 0.75rem auto;
}