body {
	margin: 0 auto;
	overflow: hidden;
	background-image: url('../Images/blue-BG.png');
	background-size: cover;
	color: whitesmoke;
	position: relative;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.pageContainer {
	display: flex;
	flex-direction: column;
	width: 95vw;
	height: 92vh;
	margin: auto;
	border-radius: 20px;
	border: 10px double rgba(255,255,255,0.2);
  	box-shadow: inset 0 0 10px rgba(255,255,255,0.1);
	/* Frosted glass effect */
	backdrop-filter: blur(5px) brightness(0.5);
	background-color: rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 10;
}
nav {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}
nav a {
	color: greenyellow;
}
h1 {
	margin: .5rem 0 .5rem 0;
	text-align: center;
}
h2 {
	text-align: center;
	width: 100%;
	font-size: clamp(0.75rem, 2.2vw, 2.2rem);
	margin: 0.25rem auto 0.25rem auto;
}
@media only screen and (max-width: 575px) {
	h2 {
		margin: 0.25rem auto 0.2rem auto;
	}
}
h3 {
	text-align: center;
	width: 100%;
	font-size: clamp(0.6rem, 1.2vw, 1.2rem); 
	margin: 0.75rem auto 0.5rem auto;
}
@media only screen and (max-width: 575px) {
	h3 {
		margin: 0.25rem auto 0.2rem auto;
		font-size: 0.75rem;
	}
}
dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 30%;
  border-bottom: 2px solid rgba(255,255,255,0.2);
}
@media only screen and (max-width: 575px) {
	dl {
		gap: 25%;
	}
}
dt {
  font-size: clamp(0.6rem, 1.4vw, 1.4rem); 
}
@media only screen and (max-width: 575px) {
	dt {
		font-size: 0.75rem;
	}
}
dd {
  margin: 0;
  white-space: nowrap;
  font-size: clamp(0.9rem, 1.1vw, 1.1rem); 
}
@media only screen and (max-width: 575px) {
	dd {
		font-size: 0.55rem;
	}
}