body {
	margin: 0 auto;
	overflow: hidden;
}
h1 {
	margin: .5rem 0 .5rem 0;
	text-align: center;
}
h2 {
	display: inline-block;
	text-align: center;
	width: 100%;
	font-size: 3rem;
}
h3 {
	display: inline-block;
	text-align: center;
	width: 100%;
}