.descriptionTextContainer {
	/* border: 2px solid red; */
	height: fit-content;
}
.descriptionText {
	text-align: left;
	padding: 1rem;
	margin: auto 8rem auto 8rem;
	font-size: 1.25rem;
}
.libraryTextLink {
	color: greenyellow;
}
.featuredGamesText {
	display: block;
	font-size: 1.3rem;
	text-align: center;
	text-decoration: underline;
	margin-top: 0.5rem;
}
.mainContainer {
	/* border: 2px solid red; */
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 50vh;
	flex: 1;
	overflow: hidden;
}
.heroContainer {
	border-top: 2px solid rgba(255,255,255,0.2);
	flex: 1;
	overflow: hidden;
	display: flex;
}
.heroImgWrapper {
	height: 100%;
	width: 50%;
}
.heroImg {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
.heroDesc {
	height: 100%;
	width: 50%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
}
.heroDetailsList {
	display: flex;
	flex: 1 1 auto;
    justify-content: space-around;
}
.heroDevText {
	font-size: 2rem;
	margin-bottom: 1rem;
	margin-top: 0;
}