.homepageContainer {
	width: 95vw;
	height: 92vh;
	margin: auto;
	border: 2px solid red;
	overflow: scroll;
}
.navbar {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}
.descriptionTextContainer {
	border: 2px solid red;
	width: 100%;
	height: fit-content;
}
.descriptionText {
	text-align: left;
	padding: 1rem;
	margin: auto 5rem auto 5rem;
}