.homepageContainer {
	display: flex;
	flex-direction: column;
	width: 95vw;
	height: 92vh;
	margin: auto;
	border: 2px solid red;
	/* overflow: scroll; */
}
.navbar {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}
.descriptionTextContainer {
	border: 2px solid red;
	height: fit-content;
}
.descriptionText {
	text-align: left;
	padding: 1rem;
	margin: auto 5rem auto 5rem;
}
.featuredGamesText {
	display: block;
	font-size: 1.25rem;
	text-align: center;
	text-decoration: underline;
	margin-top: .5rem;
}
.mainContainer {
	border: 2px solid red;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.heroOneContainer {
	border: 2px solid red;
	height: 50%;
	display: flex;
}
.heroOneImgWrapper {
	display: inline-block;
	height: 100%;
	width: 50%;
}
.heroOneImg {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.heroOneDesc {
	display: inline-block;
	height: 100%;
	width: 50%;
}
.heroTwoContainer {
	border: 2px solid red;
	height: 50%;
	display: flex;
}
.heroTwoDesc {
	display: inline-block;
	height: 100%;
	width: 50%;
}
.heroTwoImg {
	display: inline-block;
	height: 100%;
	width: 50%;
}